@import 'src/resources/styles/mixin';

.excel-output {
  .tool-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    .title {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0.34px;
      color: #121212;
      text-transform: uppercase;
    }

    .right-box {
      display: flex;
      align-items: center;

      > * {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
    .ant-calendar-picker-input {
      height: 42px;
    }
  }

  .bottom-action-box {
    display: flex;
    justify-content: flex-end;

    button {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  .ant-card-head {
    padding: 0 35px;

    .ant-card-head-title {
      padding: 35px 0 32px 0;
    }
  }
  .ant-card-body {
    padding: 40px 35px;

    .field-container {
      overflow: auto;
      height: calc(100vh - 485px);
      margin-bottom: 16px;
    }

    .ant-checkbox-wrapper {
      display: block;
      margin-left: 0;
      margin-bottom: 14px;
      span {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
