{
  "processors": [
    ["stylelint-processor-styled-components", {
      "parserPlugins": [
        "jsx",
        "dynamicImport",
        "exportDefaultFrom",
        "classProperties",
        "optionalChaining",
        "decorators-legacy"
      ]
    }]
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ]
}
