$bs-xx: 1367px;
$bs-xl: 1200px;
$bs-lg: 992px;
$bs-md: 768px;
$bs-sm: 576px;
$bs-xs: 423px;

@mixin greaterThan($point) {
  @if $point == 'xx' {
    @media only screen and (min-width: $bs-xx) {
      @content;
    }
  }

  @if $point == 'xl' {
    @media only screen and (min-width: $bs-xl) {
      @content;
    }
  }

  @else if $point == 'lg' {
    @media only screen and (min-width: $bs-lg) {
      @content;
    }
  }

  @else if $point == 'md' {
    @media only screen and (min-width: $bs-md) {
      @content;
    }
  }

  @else if $point == 'sm' {
    @media only screen and (min-width: $bs-sm) {
      @content;
    }
  }

  @else if $point == 'xs' {
    @media only screen and (min-width: $bs-xs) {
      @content;
    }
  }
}

@mixin lessThan($point) {
  @if $point == 'xx' {
    @media only screen and (max-width: ($bs-xx - 1px)) {
      @content;
    }
  }

  @if $point == 'xl' {
    @media only screen and (max-width: ($bs-xl - 1px)) {
      @content;
    }
  }

  @else if $point == 'lg' {
    @media only screen and (max-width: ($bs-lg - 1px)) {
      @content;
    }
  }

  @else if $point == 'md' {
    @media only screen and (max-width: ($bs-md - 1px)) {
      @content;
    }
  }

  @else if $point == 'sm' {
    @media only screen and (max-width: ($bs-sm - 1px)) {
      @content;
    }
  }

  @else if $point == 'xs' {
    @media only screen and (max-width: ($bs-xs - 1px)) {
      @content;
    }
  }
}
