@import 'src/resources/styles/mixin';

.passport-image-output {
  .title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.34px;
    color: #121212;
    margin-bottom: 35px;
  }

  .form {
    width: 600px;
    border-radius: 4px;
    box-shadow: 0 8px 35px 0 rgba(0, 0, 0, 0.04);
    background-color: #fff;
    padding: 40px;

    .file-picker-box {
      border-radius: 4px;
      border: solid 1px #ced4da;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.2s;
      user-select: none;
      margin-bottom: 20px;

      &:hover {
        background-color: #fbf7f7;
      }

      > div {
        display: flex;
        align-items: center;

        .anticon {
          font-size: 24px;
          color: #b2b2b2;
          margin-right: 13px;
        }

        p {
          color: #00519a;
          font-weight: 500;

          span {
            color: #8a8a8a;
          }
        }
      }
    }

    .field {
      .label {
        width: 195px;
        font-size: 16px;
        font-weight: 500;
        color: #555;
      }
    }

    .action-box {
      margin-top: 46px;
      display: flex;
      justify-content: center;
    }
  }
}
