@import 'src/resources/styles/mixin';

.authority-setting {
  .title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.34px;
    color: #121212;
    margin-bottom: 35px;
  }

  .action-box {
    margin-bottom: 20px;
  }

  .form-box {
    border-radius: 4px;
    box-shadow: 0 8px 35px 0 rgba(0, 0, 0, 0.04);
    background-color: #fff;
    padding: 60px 40px;
    max-width: 965px;

    .ant-skeleton .ant-skeleton-content .ant-skeleton-paragraph li {
      height: 42px;
      border-radius: 3px;
      margin-top: 26px;

      &:first-child {
        margin-top: 0;
      }
    }

    .field {
      display: flex;
      margin-bottom: 26px;

      &:last-child {
        margin-bottom: 0;
      }

      > * {
        &:first-child {
          flex: 1;
          margin-right: 21px;
        }

        &:last-child {
          width: 280px;
          justify-content: space-between;
          display: flex;
        }
      }
    }
  }
}

.authority-modal {
  .form {
    .field-group {
      > .field {
        &:first-child {
          margin-bottom: 30px;

          .label {
            font-size: 15px;
            font-weight: bold;
            color: #121212;
          }
        }
      }
    }

    .action-box {
      margin-top: 46px;
      display: flex;
      justify-content: center;

      > * {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .divider {
      width: 100%;
      height: 1px;
      background-color: #e6e6e6;
      margin: 10px 0 30px;
    }

    .row {
      display: flex;

      .column {
        flex: 1;
        margin-right: 80px;

        &:last-child {
          margin-right: 0;
        }
      }

      &.top-row .column .field .label {
        font-weight: bold;
        font-size: 15px;
        color: #121212;
        margin-bottom: 18px;
      }
    }
  }
}
