@import 'src/resources/styles/mixin';

.register-the-application {
  .title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.34px;
    color: #121212;
    margin-bottom: 35px;
    text-transform: uppercase;
  }

  .form {
    display: flex;

    .field {
      width: 322px;
      margin-right: 16px;

      .label {
        width: 90px;
      }
    }
  }
}
