<!DOCTYPE html>
<html>
  <head>
    <base href="/" />
    <meta name="fragment" content="!">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="App">
    <title>React JS App</title>
  </head>
  <body>
    <div class="preloading">
      <div class="circle"></div>
    </div>
    <div class="application" id="application"></div>
    <%= htmlWebpackPlugin.files.webpackManifest %>
  </body>
</html>
